.body{
    margin: 0;
    background-color: #f4f4f4;
}

.header{
    background: #35424a;
    padding: 20px;
    color: #ffffff;
    text-align: center;
}

/* контейнер для анимации */
.wait_animation_container{
    display: flex;
    justify-content: center;
}


/* кружочек плейсхолдера и его анимация */
.wait_animation {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #35424a;
    animation: puls 2s infinite; 
}
@keyframes puls {
    0%, 100%{
        transform: scale(1);
        opacity: 0.8; 
    }
    50% {
        transform: scale(1.2);
        opacity: 1; 
    }
}

/* стиль для отображение пути текущей директории */
.current_path{
    font-style:initial;
    font-size: 25px;
}


/* стили для таблицы */
.data_table {
    width: 100%;
    margin-top: 20px;
}

.row_table_style{
    padding: 10px;
    border: 1px #dddddd;
    text-align: left;
}   

.row_header_table_style {
    background-color: #f4f4f4;
}



/* стили для выделения директории в таблице */
.direct_style{
    background-color: #c5c5c5;
}

.direct_style:hover{
    background-color: #9b9b9b;
}
.direct_style:active{
    background-color: #696969;
}


/* стили для расположения кнопок назад и сотрировка */
.buttons{
    justify-content: space-between;
    width: 100%;
    display: flex;
}




/* стили для кнопок назад и сотрировка */
.button:active{
    background-color: #262a2e;
}

.button {
    margin: 10px;
    padding: 15px;
    background-color: #35424a;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.button:hover {
    background-color: #454d55;
}









/* стиль для главного контейнера */
.container {
    width: 80%;
    margin: 20px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
}